<div class="cards-container">

  <div class="personal-stuff">
        <h1>My Personal Area</h1>
  </div>

  <div class="cards">
        <div class="card">
         <img src ="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Select</a>
          </div>
        </div>
  </div>

<div></div>
</div>
