<%# <div class="card-product">
  <img class="Product-image" src="https://thefirstedition.com/wp-content/uploads/2017/08/old-book.png" alt="">
    <div class="Product-info">
      <h3>The Tempest</h3>
        <p>First Edition. By W. Shakespeare</p>
        <p>£ 155,000</p>
    </div>
</div> %>


<%# <div class="card">
  <img class="Product-image" src="https://thefirstedition.com/wp-content/uploads/2017/08/old-book.png" alt="">
  <div class="Product-info">

    <div>
      <h2>book.title</h2>
        <p>book.author</p>
    </div>

    <div>
      <h3>£ 155,000</h3>
    </div>
  </div>
</div> %>


<div class="card-product">
  <img class="Product-image" src="https://thefirstedition.com/wp-content/uploads/2017/08/old-book.png" alt="">
    <div class="Product-info">
      <h3><%= book.book_pic %></h3>
        <p><%= book.condition %></p>
        <p><%= book.price %></p>
    </div>
</div>
