<div class="top-section">
  <div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491841651911-c44c30c34548?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MXxzZWFyY2h8Mnx8b2xkJTIwYm9va3N8fDB8fHx8MTYyOTI3NDUxOQ&ixlib=rb-1.2.1&q=80&w=1080);">
    <div class="banner-info">
      <h1>Your next reading has never been so close before</h1>
      <p>The most famous book-selling marketplace</p>
      <div>
        <a class="btn text-white font-weight-bold" link_to>CATALOGUE</a>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-content">
    <div><p>DISCOVER</p></div>
    <div><p>SELL</p></div>
    <div><p>BUY</p></div>
  </div>
</div>
