<div class="top-section">
  <div class="banner" style="">
    <div class="banner-info">
      <h1>Your next reading has never been so close before</h1>
      <p>The most famous book-selling marketplace</p>
      <a class="btn btn-primary" link_to>CATALOGUE</a>
    </div>
  </div>
</div>
