<div class="cards-container">

  <div id="vertical-nav">
    <ul class="nav-list">

      <li class="nav-item">
        <a class="nav-link" id="nav-title" role="button">Filters</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" role="button">Price</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" role="button">Condition</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" role="button">Genre</a>
      </li>

    </ul>

  </div>

  <div class="cards">
    <% @books.each do |book| %>
        <div class="card">
         <img src =<%= book.book_pic %> class="card-img-top">
          <div class="card-body">
            <h5 class="card-title"><%= book.title %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Select</a>
          </div>
        </div>

    <% end %>
  </div>

</div>
