// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "banner";
@import "footer";


// .cards-container {
//   display: flex;
// }
*{
  margin: 0;
  padding: 0;
}
.nav-list {
  list-style: none;
  padding-inline-start: 5px;
}

.filter-item #filter-title {
  font-weight: bold;
}

.filter h6 {
  font-size: 18px;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-right: 0rem;
  padding-left: 3.5rem;
}

#search_row {
  height: 5rem;
  margin: 10px 41px 10px 292px;
}

#search-bar-input {
  font-size: 1.25rem;
}

#search-button {
    background-color: #954854;
    color: gold;
}

#search-bar-personal {
  width: 50rem;
}
