.navbar-lewagon {
  justify-content: space-between;
  background: $navbar-yellow;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-lewagon h1 {
  font-weight: bolder;
  color: gold;
}

.navbar-lewagon a {
  font-weight: bolder;
  font-size: medium;
  margin-right: 25px;
  color: gold;
}
